/*****************************************/
/*            Base Page                  */
/*****************************************/

html, body{ 
    margin:0; 
    padding:0; 
    text-align:center;
    height:99.9%;
    position: relative;

} 

#container{
    display: block;
    width:1260px; 
    text-align:left; 
    margin:0 auto;
    /*    position: absolute;
        top:0;
        left: auto;*/
    height: 100%;
    border: solid 1px gray;
    background-color:aliceblue;

}

#header{
    position:relative; 
    height:10%; 
    background-color:#efefef;
    overflow: hidden;
    width:100%;
    display:block;
    box-shadow: black 0px 0px 20px 0px;
    z-index: 10;
    background-color: #fcfdff; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, #fcfdff, #c9dbe9); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #fcfdff, #c9dbe9); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #fcfdff, #c9dbe9); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #fcfdff, #c9dbe9); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #fcfdff, #c9dbe9); /* Standard syntax; must be last */
    background-image:URL('img/Header_antique.jpg'); 
} 

#headerLogo{
    position:relative; 
    height:100%; 
    width:13%;
    display:block;
    overflow:auto;
    float: left;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image:URL('img/Header_logo.jsp'); 
}

#headerTitle{
    position:relative; 
    height:100%; 
    width:74%;
    display:block;
    overflow:auto;
    float: left;
    background-color: transparent;
    text-align: center;
    line-height:80%;
    margin-top: 1%
}

#description {
    font-size: 0.4em;
}

#userStatus{
    margin: auto;
    position:relative; 
    height:100%; 
    width:13%;
    float: right;
    display:block;
    overflow:auto;
    background-color: transparent;
    background-size: cover;
    overflow: hidden;
    font-size: 0.8em;
} 

#leftColumn{
    width:15%;
    float:left; 
    position:relative; 
    display: block;
    min-height:87%;
    background-color: #2969a9; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, #FFCC00, #FFEFD0); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #FFCC00, #FFEFD0); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #FFCC00, #FFEFD0); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #FFCC00, #FFEFD0); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #FFCC00, #FFEFD0); /* Standard syntax; must be last */

}

#content{
    position: relative; 
    width:68%;
    float:left;
    background-color:aliceblue;
    margin: 0 1%;
    min-height:87%;
    
}

#rightColumn{
    position: relative;
    width:15%;
    float: left;
    min-height:87%;
    background-color: #2969a9; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, #FFCC00, #FFEFD0); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #FFCC00, #FFEFD0); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #FFCC00, #FFEFD0); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #FFCC00, #FFEFD0); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #FFCC00, #FFEFD0); /* Standard syntax; must be last */
}

#footer{
    height:3%; 
    clear:both;
    font-size: 0.9em;
    display:block;
    overflow:auto;
    background-color:gainsboro; 
} 

/******* text decorations *******************/

/* header */
#headerTitle a:link, #headerTitle a:active, #headerTitle a:visited,
#headerTitle a:hover{
    color: white;
    text-decoration: none;
    display: block;
    text-shadow: 1px 2px 3px black;
}

/* leftmenu */
.leftMenu, .leftAdminMenu {
    margin: 0 auto;
    padding: 7% 0 0 0;
    font-family: sans-serif;
    font-size: 1em;
    font-variant-caps: normal;
    width: 95%;

}

.leftMenu li, .leftAdminMenu li {
    list-style-type: none;
    margin-top: 0px;
    padding-top: 5px;
    display:block;

}

.leftMenu a:link, .leftMenu a:visited, .leftMenu a:active {
    text-decoration: none;
    display: block;
    color: black;
    border: darkblue solid 1px;
    border-top-color: white;
    border-left-color: white;
    background-color: azure;
    box-shadow: darkblue 0px 1px 2px 0px;
}

.leftMenu a:hover {
    color: white;
    background-color: cornflowerblue;
    border: white solid 1px;
    border-top-color: darkblue;
    border-left-color: darkblue;
    box-shadow: #2969a9 2px 0 0 1px;
}

.leftAdminMenu input[type="button"] {
    text-decoration: none;
    display: block;
    color: black;
    border: darkred solid 1px;
    border-top-color: white;
    border-left-color: white;
    background-color: peachpuff;
    box-shadow: darkred 0px 1px 2px 0px;
    width: 100%;
    text-align: left;
    height:auto;
}

.leftAdminMenu input[type="button"]:active {
    color: white;
    background-color: indianred;
    border: white solid 1px;
    border-top-color: darkred;
    border-left-color: darkred;
    box-shadow: #2969a9 2px 0 0 1px;
}


/*************************************************/
/*              User Panel                       */
/*************************************************/

form {
    color: darkblue;
    font-size: 0.6em;
    width: 97%;
    height: 97%;
    display: block;
}
form input {
    background-color: #c9dbe9;
    /*box-shadow: #2969a9 2px 0 0 1px;*/
    width: 97%;
    height: 0.9em;
}

form input[type="submit"] {
    margin: 1px auto;
    color: darkblue;
    border: darkblue solid 1px;
    border-top-color: white;
    border-left-color: white;
    background-color: #c9dbe9;
    /*box-shadow: #c9dbe9 0px 1px 2px 0px;*/
    height: 1.7em;
    width: 100%;
}

form input[type="submit"]:active {
    color: white;
    background-color: cornflowerblue;
    border: white solid 1px;
    border-top-color: darkblue;
    border-left-color: darkblue;
    /*box-shadow: #2969a9 2px 0 0 1px;*/ 
}




/*************************************************/
/*                 CONTENT                       */
/*************************************************/


#contentHeader {
    text-align: center;
    color: #2969a9;
    min-width: 80%;
    border-bottom: #2969a9 groove 3px;
}

#contentData {
    margin-top: 1%;
}

/**********     List Table  *************/

.dataTable {
    margin:1% auto;
    width:90%;
    color: #114374;
    border-collapse: collapse;
    background-color: #deeeff;
}

.dataTable caption {
    border: none;
}

.dataTable th, .dataTable td, .dataTable tr {
    border: #114374 solid 1px;
}



.dataTable th a:link, .dataTable th a:visited, .dataTable th a:active {
    text-decoration: none;
    display: block;
    color: #fcfdff;

}

.dataTable th a:hover {
    color: yellow;

}

.dataTable tr.odd {
    background-color: #fcfdff;
}


.dataTable tr th { 
    background-position: right; 
    background-repeat:no-repeat;
    background-origin: content-box;
    background-size: contain;
    background-color: #114374;
}

.dataTable tr th.wicket_orderDown {
    background-image: url(img/desc_arrow.png);
}
.dataTable tr th.wicket_orderUp {
    background-image: url(img/asc_arrow.png);  
}
.dataTable tr th.wicket_orderNone {
    background-image: url(img/no_sort_arrow.png); 
}

/*********  Detail Forms ********/

.userDetailForm, .kdpDetailForm {
    font-size: 1em;
    
}

.userDetailForm input[type="text"] {
    width: 20%;
}

.userDetailForm input[type="password"] {
    width: 20%;
}
.userDetailForm input[type="submit"] {
    width:15%;
}


.kdpDetailForm input[type="text"]{
    width: 60%;
}

.kdpDetailForm input[type="textarea"] {
    width:60%;
    min-height: min-content;
    height: max-content;
}

.kdpDetailForm input[type="submit"] {
    width:15%;
}

.kdpDetailForm .firstColumn {
    width:20%;
    
}

.formTable {
    width:95%;
    
}

.formTable .firstColumn {
    width:15%;
}

.underLine {
    text-decoration: underline;
}

input[type="image"] {
    width: 30px;
    height: 20px;
}

.categoriesList {
    list-style-type: none; 
    padding: 0px; 
    margin: 0px; 
}
/*********  address Form ********/

.addressForm{
       font-size: 15px;
}
.addressForm input[type="text"]{
    width: 80%;
}
.addressForm table{
    alignment-adjust: middle;
}